
.navbar h2 {
  margin-top: 18px;
  display: inline-block !important;
  color: #9E0B1A !important;
  font-size: 32px;
}

.navbar p{
  display: inline-block !important;
}


.navbar, .text-center {
  color: #9E0B1A !important;
}

.navbar h2, .navbar p {
  line-height: 2px;
}

body > nav > ul > li > a{
 color: #9E0B1A !important;
}
body > nav > ul > li > a:hover{
 font-weight:bold;
}

.form_box{
    padding: 30px;
    border: 1px solid;
    width: 300px;
    text-align: center;
    margin: auto;
}

.makers-logo {
  position: absolute;
  width: 150px !important;
  height: 150px !important;
}

.bookings-main-cont {
  background: rgb(200, 200, 200);
  position: relative;
  padding: 5px 0px 20px 0px;
  margin-top: 100px;
  width: 100%;
}

.booking-entry { /* color change */
  background: purple;
  position: relative;
  margin: 40px;
  margin-top: 50px !important;
  width: calc(100% - 80px);
  height: 120px;
}

.main-spaces-cont {
  background: red;
  padding-left: 20% !important;
  padding-right: 20% !important;
}

.spaces-new-submit {
  position: relative;
  display: inline-block;
  width: 150px;
  left: calc(50% - 75px);
  text-align: center;
}

.requests-main-cont {
  background: red;
}

.requests-entry {
  margin: 40px;
  background: blue;
  height: 150px;
}
