<nav class="navbar navbar-expand-lg navbar-light">
  <div class="header">
    <h2><img class="makers-logo" src="<%= url('/images/logo.jpg') %>" ></h2>
    <br>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav justify-content-end ml-auto">
    <li id="last-nav-item" class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li id="last-nav-item" class="nav-item">
      <a class="nav-link" href="/login">Sign in</a>
    </li>
  </ul>
</nav>
